


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/explore-os-melhores-gifs-de-computador-para-programadores-e-amantes-de-tecnologia-0.gif);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* Garante que o body ocupe toda a altura da tela */
}

.power-button {
    position: absolute; /* Permite o posicionamento sobre a imagem de fundo */
    top: 64%; /* Ajuste a posição vertical do botão conforme necessário */
    left: 71%; /* Ajuste a posição horizontal do botão conforme necessário */
    transform: translate(-100%, -50%); /* Centraliza o botão */
    padding: 5px 8px; /* Estilo do botão */
    font-size: 1px;
    background-color: #bb2323; /* Cor de fundo do botão */
    color: rgb(255, 248, 248); /* Cor do texto do botão */
    border: none; /* Remove borda */
    border-radius: 7px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

.power-button:hover {
    background-color: #ff0000; /* Cor ao passar o mouse */
}
